@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.sliderContainer {
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;

  @include tablet {
    height: 189px;
    width: calc(100% - 150px);
    margin: 0 auto;
  }

  @include desktop {
    width: calc(100% - 96px);
    margin: 0 auto;
    height: 400px;
  }

  & :global(.slick-slider .slick-dots) {
    bottom: -26px;

    @include tablet {
      bottom: -32px;
    }

    @include desktop {
      bottom: -32px;
    }
  }

  & :global(.slick-slider .slick-dots li button)::before {
    content: '';
    background-color: $light-grey-color;
    width: 14px;
    height: 4px;
    cursor: pointer;
  }

  & :global(.slick-slider .slick-dots li.slick-active button)::before {
    background-color: $dark-grey-color;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.sliderItem {
  width: 100%;
  height: 100%;
}

.sliderPicture {
  @include mobile {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.sliderImage {
  width: 100%;
  max-height: 400px;
  height: 320px;

  @include tablet {
    width: 100%;
    height: 189px;
  }

  @include desktop {
    width: 100%;
    max-height: 400px;
    height: 100%;
  }
}

.sliderButton {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 100%;
    border: 1px solid $light-grey-color;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 3;
  }

  @include desktop {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 100%;
    border: 1px solid $light-grey-color;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 3;
  }

  &:hover {
    border-color: $dark-grey-color;
  }

  &:active {
    transform: translateY(-50%) scale(0.95);
  }
}

.prevButton {
  left: -50px;
}

.nextButton {
  right: -50px;
}
