@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.shopByCategory {
  margin-bottom: 80px;
}

.shopByCategoryTitle {
  font-size: $font-size-32;
  font-weight: $font-weight-bold;
  color: $dark-grey-color;
  margin-bottom: 24px;
}

.shopByCategoryItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  max-height: 508px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
}

.shopByCategoryLink {
  text-decoration: none;
}

.shopByCategoryImageContainer {
  position: relative;
  overflow: hidden;
  width: 368px;
  height: 368px;
}

.shopByCategoryImage {
  object-fit: contain;
  object-position: right;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
}

.shopByCategoryItemTitle {
  font-size: $font-size-20;
  font-weight: 600;
  color: $dark-grey-color;
}

.shopByCategoryItemLink {
  font-size: $font-size-14;
  font-weight: $font-weight-medium;
  color: $gray-color;
}
