@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  position: sticky;

  top: 0;
  z-index: 1000;
  background: $white-color;
  border-bottom: 1px solid $light-grey-color;
}

.headerContainer {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 16px;

  @include tablet {
    padding-left: 16px;
  }

  @include desktop {
    padding-left: 24px;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1440px;

  gap: 32px;
  min-height: 48px;

  @include desktop {
    min-height: 64px;
    gap: 64px;
  }
}

.logo {
  @include flex-center;

  img {
    width: 64px;
    height: 21px;

    @include desktop {
      width: 80px;
      height: 26px;
    }
  }
}

.nav {
  display: none;

  @include tablet {
    @include flex-start;

    gap: 24px;
    padding: 0;
    height: 48px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 64px;
    height: 64px;
  }
}

.navLink {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0;
  text-decoration: none;
  color: $gray-color;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.04em;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease;

  &:hover {
    color: $dark-grey-color;
  }
}

.navLinkActive {
  color: $dark-grey-color;
  border-bottom-color: transparent;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: $dark-grey-color;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 0;
  margin-left: auto;
}

.desktopIcons {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.iconLink {
  @include flex-center;
  position: relative;
  color: $black-color;
  display: none;
  border: 1px solid $light-grey-color;
  height: 48px;
  width: 48px;

  @include tablet {
    display: inline-flex;
  }

  @include desktop {
    @include flex-center;
    height: 64px;
    width: 64px;
  }

  &:last-child {
    margin-right: 0;
  }

  .icon {
    fill: currentColor;
    transition: color 0.3s ease;
  }

  &:hover {
    border: 1px solid $gray-color;
  }

  .badge {
    position: absolute;
    top: 50%;
    right: 50%;

    transform: translate(calc(9px + 7px), calc(-13px - 7px));
    background: #eb5757;
    color: $white-color;
    font-size: 9px;
    font-weight: 600;
    min-width: 14px;
    min-height: 14px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
  }
}

.menuButton {
  @include flex-center;
  width: 48px;
  height: 48px;
  border: 1px solid $light-grey-color;
  background: none;
  cursor: pointer;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }

  .menuIcon {
    display: block;
    width: 16px;
    height: 16px;
  }
}

.closeIcon {
  width: 10px;
  height: 10px;
  display: block;
}

.mobileNav {
  display: none;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    inset: 48px 0 0 0;
    min-height: calc(100vh - 48px);
    background: $white-color;
    border-top: 1px solid $light-grey-color;
    box-shadow: 0 12px 24px rgba(49, 50, 55, 0.06);
    overflow-y: auto;
  }

  @include desktop {
    inset: 64px 0 0 0;
    min-height: calc(100vh - 64px);
  }
}

.mobileNavLinks {
  display: none;

  @include mobile {
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    gap: 24px;
    width: 100%;
    flex: 1;
  }
}

.mobileNavLink {
  display: none;

  @include mobile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $gray-color;
    font-size: 12px;
    font-weight: $font-weight-bolder;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease;

    &:hover {
      color: $dark-grey-color;
    }
  }
}

.mobileNavLinkActive {
  @include mobile {
    color: $dark-grey-color;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: $dark-grey-color;
    }
  }
}

.mobileActions {
  display: none;

  @include mobile {
    display: flex;
    width: 100%;
    margin-top: 24px;
    border-top: 1px solid $light-grey-color;
  }
}

.mobileIconLink {
  @include mobile {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 64px;
    color: $dark-grey-color;
    position: relative;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: transparent;
      transition: background 0.3s ease;
    }

    &:hover::after {
      background: rgba($dark-grey-color, 0.4);
    }
  }
}

.mobileIconLinkActive {
  @include mobile {
    &::after {
      background: $black-color;
    }
  }
}

.cartIcon {
  margin-left: 24px;

  .navLink {
    font-weight: $font-weight-bold;

    &:hover {
      transform: scale(1.1);
    }
  }
}
