@use 'variables' as *;
@use 'mixins' as *;

@forward 'variables';
@forward 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  background-color: $white-color;
  color: $black-color;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}

.page {
  min-height: 100vh;

  h2 {
    font-size: 22px;
    font-weight: $font-weight-bold;
    color: $dark-grey-color;

    @include tablet {
      font-size: 32px;
      font-weight: $font-weight-bold;
      color: $dark-grey-color;
    }

    @include desktop {
      font-size: 32px;
      font-weight: $font-weight-bold;
      color: $dark-grey-color;
    }
  }

  p {
    font-size: 1.1rem;
    color: $dark-grey-color;
    max-width: 600px;
    margin: 0 auto;
  }
}

.container {
  width: 100%;

  margin: 0 auto;
  padding: 0 16px;

  @include tablet {
    padding: 0 24px;
    margin: 0 auto;
  }

  @include desktop {
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1200px;
  }
}
