@use 'variables' as *;
@use 'mixins' as *;
@use 'reset';

@forward 'variables';
@forward 'mixins';

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#root {
  min-height: 100vh;
}

.page {
  min-height: 100vh;

  h2 {
    font-size: 22px;
    font-weight: $font-weight-bold;
    color: $dark-grey-color;

    @include tablet {
      font-size: 32px;
    }

    @include desktop {
      font-size: 32px;
    }
  }

  p {
    font-size: 1.1rem;
    color: $light-grey-color;
    max-width: 600px;
    margin: 0 auto;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @include tablet {
    padding: 0 24px;
  }

  @include desktop {
    padding: 0 32px;
    max-width: 1200px;
  }
}
