@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.cartPage {
  padding: 32px 0 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    margin-bottom: 80px;
  }
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.emptyCart {
  @include flex-center;
  flex-direction: column;
  min-height: 400px;
  padding: 80px 16px;
  text-align: center;
  width: 100%;
}

.emptyCartText {
  color: $gray-color;
    font-size: $font-size-16;
    margin: 0;
}

.itemImage {
  width: 80px;
  height: 80px;
  object-fit: contain;
  flex-shrink: 0;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 50px;
  border: 1px solid $light-grey-color;


  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.itemInfo {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1;

  @include mobile {
    flex-wrap: wrap;
    gap: 16px;
  }
}

.itemName {
  font-weight: 600;
  font-size: 14px;
  color: $dark-grey-color;
  flex: 1;
  
  @include tablet {
    flex: 1;
  }

  @include desktop {
    white-space: nowrap;
    flex: 1;
  }
}

.itemPrice {
  font-size: 22px;
  font-weight: 800;
  flex-shrink: 0;
}

.quantityAndPrice {
  display: flex;
  gap: 53px;

  @include mobile {
    justify-content: space-between;
    width: 100%;
    gap: 103px;
  }
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid $light-grey-color;
  padding: 24px;
  width: 100%;

  @include desktop {
    width: 50%;
  }
}

.totalPrice {
  font-size: 32px;
  font-weight: 800;
  width: 100%;
  text-align: center;
}

.totalText {
  font-size: 14px;
  font-weight: 500;
  color: $gray-color;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $light-grey-color;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.quantityButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-grey-color;
  width: 32px;
  height: 32px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  flex-shrink: 0;
}

.itemInfo > button:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.cartFooter {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.clearButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: #666;
  color: white;
  cursor: pointer;

  &:hover {
    background: #555;
  }
}
