@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.mainTitle {
  font-size: 32px;
  font-weight: 800;
  color: $dark-grey-color;
  margin-bottom: 40px;

  @include mobile {
    font-size: 22px;
    text-align: center;
  }
}

.imagesContainer {
  display: grid;
  grid-template-columns: 80px 16px 1fr 64px 1fr;
  justify-items: flex-start;
  margin-bottom: 80px;

  @include tablet {
    display: grid;
    grid-template-columns: 33px 16px 1fr 16px 1fr;
    justify-items: flex-start;
  }

  @include mobile {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 16px;
  }
}

.imagesList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;

  @include mobile {
    flex-direction: row;
    justify-content: center;
    order: 2;
  }
}

.imageItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid $light-grey-color;
  background: $white-color;
  cursor: pointer;
  transition: all 0.3s ease;

  @include tablet {
    width: 35px;
    height: 35px;
  }

  @include mobile {
    width: 50px;
    height: 50px;
  }
}

.imageButtonActive {
  border: 1px solid $gray-color;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.title {
  font-size: $font-size-12;
  font-weight: 500;
  color: $gray-color;
}

.mainImage {
  grid-column: 3;
  width: 100%;

  @include mobile {
    max-width: 288px;
    margin: 0 auto;
    order: 1;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    display: block;
    transition: opacity 0.2s ease;
  }
}

.infoContainer {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mobile {
    order: 3;
  }
}

.colorsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid $light-grey-color;
}

.colorsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.colorButton {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.colorImage {
  max-width: 100%;
  max-height: 100%;
}

.capacityContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 24px 0;
  border-bottom: 1px solid $light-grey-color;
  margin-bottom: 32px;
  width: 100%;
}

.capacitiesList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.capacityBtn {
  border: 1px solid $light-grey-color;
  padding: 8px 16px;
  background: none;
  cursor: pointer;
  font-size: $font-size-14;
  font-weight: $font-weight-medium;
  color: $dark-grey-color;

  @include tablet {
    padding: 4px 8px;
  }
}

.capacityActive {
  background-color: $dark-grey-color;
  color: $white-color;
}

.prices {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.priceDiscount {
  color: $dark-grey-color;
  font-size: 32px;
  font-weight: 800;
}

.priceRegular {
  color: $gray-color;
  font-size: 22px;
  font-weight: 500;
  text-decoration: line-through;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.addBtn {
  padding: 14px 91px;
  height: 48px;
  font-size: 14px;

  @include tablet {
    padding: 14px 50px;
  }
}

.favoriteButton {
  background: $white-color;
  border: 1px solid $light-grey-color;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  min-width: 48px;
  height: 48px;
  flex-shrink: 0;

  &:hover {
    border: 1px solid $gray-color;
  }
}

.favoriteButtonActive {
  border-color: $gray-color;
}

.favoritesIcon {
  width: 48px;
  height: 48px;
  transition: all 0.3s ease;
  display: block;
}

.charContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.charList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charKey {
  color: $gray-color;
  font-size: $font-size-12;
  font-weight: 600;
}

.charValue {
  color: $dark-grey-color;
  font-size: $font-size-12;
  font-weight: 600;
}

.aboutContainer {
  display: flex;
  gap: 160px;

  @include tablet {
    gap: 64px;
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
    gap: 56px;
  }
}

.aboutTitle {
  border-bottom: 1px solid $light-grey-color;
  font-size: 22px;
  font-weight: 800;
  padding-bottom: 16px;
  margin-bottom: 25px;

  @include mobile {
    font-size: 20px;
    font-weight: 700;
  }
}

.techTitle {
  font-size: 22px;
  font-weight: 800;
  grid-column: 3;
  padding-bottom: 16px;
  margin-bottom: 25px;
  border-bottom: 1px solid $light-grey-color;

  @include mobile {
    font-size: 20px;
    font-weight: 700;
  }
}

.fullCharContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 8px;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}

.charAllKey {
  color: $gray-color;
  font-size: 14px;
  font-weight: 500;
}

.charAllValue {
  color: $dark-grey-color;
  font-size: 14px;
  font-weight: 500;
}

.descriptionContainer {
  width: 50%;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}

.aboutTittle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;

  @include mobile {
    font-size: 16px;
  }
}

.aboutText {
  color: $gray-color;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 32px;
}
