@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.btnCard {
  background: $dark-grey-color;
  color: $white-color;
  border: none;
  width: 100px;
  height: 40px;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: $font-size-14;
  font-weight: $font-weight-medium;
  transition: all 0.3s ease;

  @include tablet {
    width: 125px;
    height: 40px;
  }

  @include desktop {
    width: 160px;
    height: 40px;
  }

  &:hover {
    box-shadow: 0 4px 12px #17203166;
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.btnCardSelected {
  background: $white-color;
  color: #27ae60;
  border: 1px solid $light-grey-color;
}
