@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.title {
  font-size: 32px;
  font-weight: $font-weight-bold;
  color: $dark-grey-color;
  margin-bottom: 8px;

  @include tablet {
    font-size: 48px;
  }

  @include desktop {
    font-size: 48px;
  }
}

.totalItem {
  display: block;
  font-size: $font-size-14;
  font-weight: $font-weight-medium;
  color: $gray-color;
  margin-bottom: 40px;
}

.selectContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.selectItems {
  display: flex;
  flex-direction: column;
  gap: 4px;

  span {
    font-size: $font-size-12;
    font-weight: $font-weight-medium;
    color: $gray-color;
  }
}

.selectItem {
  padding: 10px 71px 10px 12px;
  font-size: $font-size-14;
  font-weight: $font-weight-medium;
  color: $dark-grey-color;
  border: 1px solid $light-grey-color;
  cursor: pointer;
  transition: all 0.3s ease;

  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%2389939a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;

  @include tablet {
    padding: 10px 122px 10px 12px;
  }

  @include desktop {
    padding: 10px 111px 10px 12px;
  }

  option {
    padding: 8px;

    color: $gray-color;
  }
}

.emptyMessage {
  @include flex-center;
  padding: 60px 16px;
  text-align: center;
  font-size: $font-size-16;
  font-weight: $font-weight-medium;
  color: $gray-color;
  border: 1px dashed $light-grey-color;
  border-radius: $border-radius-12;
  background-color: #e2e6e91a;
  min-height: 200px;

  @include tablet {
    padding: 80px 24px;
    font-size: $font-size-20;
  }

  @include desktop {
    padding: 100px 32px;
    font-size: $font-size-20;
  }
}
